project-root-directory/
+ build/
+ dist/
+ nbproject/
  build-impl.xml
  + private/
  + project.properties
  + project.xml
+ src/
+ test/
+ build.xml
+ /build/
build/classes/Controlador/ControladorAlumno.class
build/classes/Controlador/ControladorProfesor.class
build/classes/Modelo/Administrador.class
build/classes/Modelo/Asignatura.class
build/classes/Modelo/Nivel.class
build/classes/Modelo/OpAdminProfesor.class
build/classes/Modelo/Profesor.class
